{% if configuration.isEnableAutocomplete() %}

    {# @TODO Autocomplete plugin not working #}
    {# http://0.0.0.0:8100/v1?app_id=sylius&index=products&token=0e4d75ba-c640-44c1-a745-06ee51db4e93&query= #}
    {# http://0.0.0.0:8100/v1/sylius?index=products&token=0e4d75ba-c640-44c1-a745-06ee51db4e93&query= #}
    {# Cause by bad endpoint #}

    <script src="https://cdn.jsdelivr.net/npm/apisearch-autocomplete/dist/apisearch-autocomplete.min.js"></script>
    <script type="text/javascript">
        const autocomplete = apisearchAutocomplete({
            appId: 'sylius',
            indexId: '{{ configuration.getIndex() }}',
            token: '0e4d75ba-c640-44c1-a745-06ee51db4e93',
            options: {
                endpoint: 'http://0.0.0.0:8100'
            }
        });

        {% verbatim %}
        autocomplete({
            inputTarget: '.apisearch--query',
            datasets: [{
                type: 'product',
                template: {
                    header: '<h3>Products</h3>',
                    item: '<a href="">{{metadata.name}}</a>'
                }
            }]
        });
        {% endverbatim %}
    </script>
{% endif %}
